<h1>Riepilogo</h1>
<table>
    <thead>
        <tr style="background-color:lightgreen">
            <td>Titolo</td>
            <td>Sottotitolo</td>
            <td>Testo</td>
            <td>Data</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of arrayArticoli">
            <td (click)="visualizzaArticolo(articolo)">{{articolo.getTitoloLight()}}</td>
            <td (click)="visualizzaArticolo(articolo)">{{articolo.getSottotitoloLight()}}</td>
            <td (click)="visualizzaArticolo(articolo)">{{articolo.getTestoLight()}}</td>
            <td (click)="visualizzaArticolo(articolo)">
                {{articolo.getDataPubblicazioneLight() | date: 'dd/MM/yyyy'}}</td>
            <td><button (click)="modificaArticolo(articolo)">Modifica</button></td>
        </tr>
    </tbody>
</table>